@import "bootstrap/dist/css/bootstrap.min.css";

body{
    background: rgb(255, 255, 255);
}

:root{
    --color-primary: #6B46C1; /* Púrpura */
    --color-secondary: #805AD5; /* Púrpura más claro */
    --color-text: #1A202C; /* Texto oscuro */
    --color-background: #F7FAFC; /* Fondo muy claro */
    --color-white: #FFFFFF;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body{
    background-color: var(--color-background);
    color: var(--color-text);
    line-height: 1,6;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.hero{
    min-height: 100vh;
    display: flex;
    align-items: center;
    text-align: center;
    background: linear-gradient(135deg, var(--color-white),#E2E8F0);
}

.hero h1 {
    font-size:55px;
    color: var(--color-primary);
    margin-bottom: 5px;
    font-weight: 700;
}

.subtitulo{
    font-size: 20px;
    color: #4a5568;
    margin-bottom: 5px;
}

.caja-generadora{
    background-color: var(--color-white);
    padding: 40px;
    border-radius: 12px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
    margin: 30px auto;
    max-width: 600px;
    border: 1px solid #E2E8F0;

}

#dominio-generador{
    font-size:10px;
    font-weight: 700;
    color: var(--color-text);
    margin-bottom: 25px;
    word-break: break-all;
}

#boton-generador{
    background-color: var(--color-primary);
    color: var(--color-white);
    border: none;
    padding: 15px 30px;
    font-size: 16px;
    font-weight: 600;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.1s ease;
    box-shadow: 0 4px 10px rgba(107, 70, 193, 0.3);
}

#boton-generador:hover{
    background-color: var(--color-secondary);
}

#boton-generador:active{
    transform: scale(o,98);
}

